*{
  padding: 0;
  margin: 0;
  
  
}


body {
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 1em;
    }
}
 

/* Header Section */
  .header {
    background-color: #FF3EC9;
    grid-area: header;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: grid;
    grid-template-columns: .5fr 2fr;
    align-items: center;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      padding-bottom: 1em;
      }
  }

  .header nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    list-style-type: none;
    
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      margin: 0;
      padding: 0;
      }
}

.hamburger {
  
    margin: 0;
    padding: 0;
    
}

.header nav ul li a {
        color: white;
        text-shadow: 2px 2px 4px black;
        font-weight: bold;
        font-size: 2.5em; 
        text-decoration: none;   
}

nav .menu1 {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  border-radius: 25px;
}

.logo {
    padding-left: 4em;
    @media (max-width: 1200px) {
      margin: 0;
      padding: 0;
      }
}

.bi {
  color: white;
  font-size: 3rem;
  margin-right: 5rem;
  text-shadow: 2px 2px 4px black;
  @media (max-width: 1200px) {
    color: black;
    margin: 0;
    }
}

#toggle1 {
  visibility: hidden;
}


/* Hero Section */
.hero {
  background-color: white;
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: center;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
    }
  }
  
  .hero .welcome h2 {
      color: #FF3EC9;
      font-size: 6em;
      margin-top: .5em;
      margin-bottom: .5em;
      text-shadow: 2px 2px 4px black;
  }
  
  .hero .btn {
     background-color: #FF3EC9;
     color: white;
     font-size: 2em;
     border-radius: 50px;
     padding: .4em;
     margin-left: 10em;
     @media (max-width: 1200px) {
      margin-top: 1.5rem;
      }
  }
  
  .hero .heroimage {
      overflow: none;
      margin-top: 7em;
      @media (max-width: 1200px) {
        margin: 0;
        }
  }
  
  .hero .welcome p {
      color: #FF3EC9;
      font-size: 2em;
      display: grid;
      margin-bottom: 1em;
      align-content: center;
      font-weight: bold;
  }

  /* About Section */
  .about {
    background-color: white;
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      }
    }
    
    .about .about-welcome h2 {
        color: #FF3EC9;
        font-size: 6em;
        margin-top: .5em;
        margin-bottom: .5em;
        text-shadow: 2px 2px 4px black;
    }
    
    
    .about .aboutimage {
        overflow: none;
        margin-top: 7em;
        @media (max-width: 1200px) {
          margin: 0;
          }
    }
    
    .about .about-welcome p {
        color: #FF3EC9;
        font-size: 2em;
        display: grid;
        margin-bottom: 1em;
        align-content: center;
        font-weight: bold;
    }



/* Review Section */
.reviews-banner {
  background-color: #FF3EC9;
  grid-area: reviews-banner;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center;
  font-size: 2em;
  margin-top: 1.5em;
  padding: 1em;
  color: white;
  text-shadow: 2px 2px 4px black;
  }

.reviews {
  background-color: #FF3EC9;
  grid-area: reviews;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  @media (max-width: 1200px) {
  display: grid;
  grid-template-columns: 1fr;
    
    }
  }
  
  .review {
      background-color: white;
      margin: 1em;
      padding: 1.5em;
      border-radius: 50px;
      color: #FF3EC9;
      font-size: 1.5em;
      box-shadow: 1px 1px 8px grey;
  }
  
  .profile-img img {
      border-radius: 50%;
      box-shadow: 2px 2px 20px grey;
      overflow: hidden;
      position: relative; 
      width: 175px; 
      height: 175px; 
      overflow: hidden; 
  }
  
  .review h2 {
      text-shadow: 2px 2px 1px grey;
  }
  
  .review p {
      font-size: 1em;
      font-weight: bold;
  }
  
  .review .btn  {
      background-color: #FF3EC9;
      color: white;
      font-size: 1em;
      border-radius: 50em;
      margin-top: 1em;
      padding: .19em;
   }

  .review link {
    color: white;
  }



   /* Featured Candy Section */
   .featured-candy-banner {
  grid-area: reviews-banner;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center;
  font-size: 2em;
  margin-top: .5em;
  padding: 1em;
  color: #FF3EC9;
  text-shadow: 2px 2px 4px black;
 }

   .featured-candy {
    grid-area: featured-candy;
    display: grid;
    gap: 1em;
    margin: 1em;
    grid-template-columns: repeat(4, 1fr);
    color:#FF3EC9;
    justify-items: center;
    text-align: center;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      }
}


/* Featured Crafts Section */
.featured-crafts-banner {
  grid-area: reviews-banner;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center;
  font-size: 2em;
  margin-top: .5em;
  padding: 1em;
  color: #FF3EC9;
  text-shadow: 2px 2px 4px black;
 }

   .featured-crafts {
    grid-area: featured-crafts;
    display: grid;
    gap: 1em;
    margin: 1em;
    grid-template-columns: repeat(4, 1fr);
    color:#FF3EC9;
    justify-items: center;
    text-align: center;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      }
}


/* Footer Section */
footer {
  background-color: #FF3EC9;
  grid-area: header;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: grid;
  grid-template-columns: .5fr 2fr;
  padding: 2em;
  margin-top: 5em;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
  }
}

footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style-type: none;
  justify-items: center;
  margin-right: 3em;
  @media (max-width: 1200px) {
    display: none;
    }
}

footer ul li a {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  font-size: 2.5em; 
  text-decoration: none; 
}



/* Hamburger  Menu*/
@media (max-width: 1200px) {
  a {
    color: #FF3EC9;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: white;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 340px;
  }
  
  
  /* Menu */
  .menu1 {
    width: 100%;
    background-color: white;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr ;
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
   
  }
  
  .link1:hover {
    background-color: #fff;
    color: #FF3EC9;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  }

  /* Shopping Pages */

  .product-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FF3EC9;
    font-size: 2em;
    gap: 1em;
    margin: .5em;
  }

  .crafts-selector {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    justify-self: end;
    color: #FF3EC9;
    text-decoration: inherit;
  }

  .candy-selector {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    justify-self: end;
    color: #FF3EC9;
    text-decoration: inherit;
    
  }

  /* Candy Shop Page */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin: 2em;
    color:#FF3EC9;
    text-align: center;
    
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: .5em;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0em;
      }
}

.product-card {
  box-shadow: 1px 1px 8px grey;
  color:#FF3EC9;
  border-radius: 25px;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 3em;
  padding: 1.3rem;
  min-height: 40rem;
  width: auto;
  @media (max-width: 1200px) {
    height: auto;
    width: auto;
    padding: 0;
    margin-top: 4em;
    margin-left: 1rem;
    margin-right: 1rem;
    }
}

.product-img {
  max-width: 15rem;
  max-height: 15rem;
  min-width: 15rem;
  min-height: 15rem;
  margin: 1rem;
}

.product-title {
margin: 1rem;
}

.product-price {
  margin: 1rem;
}

.product-description {
  margin-left: 4rem;
  margin-right: 4rem;
}

.product-subtotal {
  margin: 1rem;
}

/* Cart Page */
/* .cart-page {
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
      }
} */

.cart-page-title {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color:#FF3EC9;
  margin-top: 2rem;
}

.cart-page-list  {
  height: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  color:#FF3EC9;
  text-align: center;
    @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;

      }
}

.cart-page-list ul  {
  list-style: none;
  margin-top: 3rem;
  
}

.cart-page-list li  {
  margin-top: 4rem;
 
}

.cart-product-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  color:#FF3EC9;
  
}

.cart-product-img {
  height: 10rem;
  width: 10rem;
  @media (max-width: 1200px) {
    margin-right: 2rem;
      }
}

.product-price {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  @media (max-width: 1200px) {
    margin-right: 2rem;
      }
}

.product-subtotal {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  justify-items: end;
  
}

.quantity-btn {
  font-size: 2em;
  font-weight: bold;
  color:#FF3EC9;
  background-color:white;
}

.quantity {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  @media (max-width: 1200px) {
    margin-right: 2rem;
      }
}

.item-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color:#FF3EC9;
  justify-items: center;
  align-items: center;
  gap: 1em;
}

.cart-calculations {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: end;
  margin-right: 4rem;
  color:#FF3EC9;
  gap: 1em;
  padding: 3em;
  @media (max-width: 1200px) {
    margin-right: 2rem;
      }
}

/* Contact Page */

.contactPage {
  height: 100vh;
}